# Library สำหรับสร้าง Webhook Server และจัดการ Request
flask

# Library สำหรับจัดการ Line Messaging API
line-bot-sdk

# Library สำหรับเรียกใช้ Gemini API
google-generativeai

gunicorn

chromadb

requests

google-cloud-firestore
